.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: black;
    color: white;
    padding: 0 20px;
    position: fixed;
    margin-bottom:80px;
    width: 100%;
}


.end-block-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    text-align:left

}
.logo{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 50px;
}
@media screen and (max-width:540px) {
    .logo{
        font-size: 25px;
    }
    .header{
        padding: 0 10px 0 0;
    }
}